.body{
    /* Dark background to enhance neon effect */
    padding-top: 14vh;
    padding-left: 20px;
    min-height: 100vh;
    color: rgba(171,32,253,1);
}

#tsparticles {
    position: fixed;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    left: 0;
    top: 0;
    z-index: -1;
}
